body{
    margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
header{
    background: white;
    background-image: url(BG.jpg);
    width: 100%;
    height: 740px;
}
a {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: inline-flex;
    margin: 0 30px;
    line-height: 33px;
    color: #FFFFFF;
    
    }
nav{
    display: grid;
    grid-template-columns: repeat(6);
    align-items: baseline;
    
}
.nav{
    grid-column-start: 3;
    grid-column-end: 4;
    list-style: none; 
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}
.down:after {
    content: '';
    display: block;
    width: 0; 
    height: 0; 
    margin-left: 10px;
    margin-top: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffffff;
  }
  .submenu {
    background: white;
    border: 2px solid #003559;
    border-radius: 20%;
    list-style: none;
    width: 120px;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    justify-content: center;
    transform: perspective(200px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
  }
  li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: perspective(200px) rotateX(0deg);
  }
  .submenu li a {
    color: #7f7f7f;
    font-size: 13px;
    line-height: 25px;
    display: flex;
    margin-left: -10%;
    font-family: Arial, Helvetica, sans-serif;
}
.submenu li a:hover {
    color:#003559;
    border: 1px solid #003559;
    border-radius: 40%;
    
}
.get{
    display: inline-block;
    color: #FFFFFF;
    border: 1.5px solid #FFFFFF;
    border-radius: 50px;
    background: transparent;
    width: 150px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    grid-column-start: 6;
    
}
.navbar-logo {
    grid-column-start: 2;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.8;
}
.text{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    
    letter-spacing: 2px;
    color: #FFFFFF;
    width: 642px;
    margin-left: 10%;
    margin-top: -3%;
}
.lorem{
    width: 380px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: -3%;
}
.mockup{
    width: 700px;
    margin-left: 50%;
    margin-top: -34%;
}
.wrap{
    margin-left: 5%;
}
.white{
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 50px;
    margin-left: 9%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.vid{
    width: 25px;
    height: 25px;
    margin: 0 5px;
}
.video{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-top: -2.6%;
    margin-left: 22%;
}
.sponser{
    width: 35%;
    margin-top: 3%;
    margin-left: 9%;
}
.about{
    padding-top: 65px;
    padding-bottom: 100px;
}
.container{
    max-width: var(--content-width);
    padding-left: var(--mob-padding);
    padding-right: var(--mob-padding);
    margin-left: auto;
    margin-right: auto;
}
.quality, .meet{
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.quality{
    font-size: 14px;
    color: var(--txt-blur);
    letter-spacing: 2.1px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 400;
    color: #244886;
    
}
.meet{
    font-size: 36px;
    letter-spacing: -1.5px;
    line-height: 1.2;
    font-family: Arial;
    padding-top: 1%;
   
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.about__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about__card-title {
    font-weight: 700;
    font-size: 18px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Arial;
    
}
.about__card-desc {
    font-weight: 400;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial;
    line-height: 25px;
}
.app__row {
    align-items: center;
    display: flex;
    margin-top: -100% ;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter)*-1);
    margin-right: calc(var(--gutter)*-1);
}
.app__img-block {
    box-sizing: border-box;
    margin-right: var(--gutter);
    margin-left: var(--gutter);
    width: calc(100%*.5 - var(--gutter)*2);
    padding-right: 5%;
}
.app__phone-img {
    margin-left: 50%;
    padding-top: 30%;
}
img {
    border-style: none;
    max-width: 85%;
}
.app__info-block {
    box-sizing: border-box;
    margin-right: var(--gutter);
    margin-left: 12%;
    width: 50%;
    padding-top: 10%;
}
.app__title, .app__undertitle {
    margin-bottom: 1%;
    text-align: left;
}
.app__undertitle{
    color: #244886;
}
.app__title {
    margin-bottom: 5%;
    width: 50%;
    text-align: left;
}
.app__pluses {
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.app__plus {
    position: relative;
    margin-bottom: 2%;
    background: #fff;
    padding: 25px 35px 25px 100px;
    border-radius: 16px;
    transition: .3s;
}
.app__plus-ico {
    position: absolute;
    top: 25px;
    left: 25px;
}
.app__plus-title {
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifArial;
}
.app__plus-desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    width: 49.7%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
    font-family: Arial;
}
.app::before {
    content: url(pattern2.svg);
    display: flex;
    margin-top: 10%;
    z-index: -1;
}
.features__card {
    box-sizing: border-box;
    margin-left: 6%;
    width: 25.5%;
    display: flex;
    background: #fff;
    transition: .3s;
    margin-top: 6%;

}
.features__card-img {
    flex-shrink: 1;
    align-self: flex-start;
}
.features__card-content {
    padding-left: 10%;
}
.features__card-desc {
    font-weight: 400;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial;
}
.features__card:hover {
    transform: translateY(-10px);
}
.features {
    padding-top: 10%;
    padding-bottom: 10%;
}
section {
    display: block;
}
.features__card-title {
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Arial;
}
.companies__row {
   display: grid;
   grid-template-columns: repeat(2);
   margin-bottom: 10%;
}
.companies__info-block {
    box-sizing: border-box;
    margin-left: 30%;
    width: 45%;
    line-height: 40px;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.companies__content {
    margin-bottom: 30px;
}
.txt-content{
    font-family: Arial;
}
.btn_prime {
    border-color: transparent;
    color: #fff;
    background: #1F3E76;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.16px;
    
}
.companies__bg-block {
    box-sizing: border-box;
    padding-right: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
.companies__img {
    max-width: 110%;
}
.core, .smart{
    text-align: left;
}
.how{
    padding-top: 5%;
    padding-bottom: 10%;
    color: #fff;
    background-image: url(pattern1.svg),var(--bg-gr-prime);
    background-size: cover;
    width: 100%;
}
:root {
    --txt-black: #0F2137;
    --txt-black-secondary: #343D48;
    --txt-blur: #244886;
    --grey: #E5ECF4;
    --bg-blue: #1F3E76;
    --bg-blue-secondary: #2F5392;
    --card-shadow: 0px 8px 24px rgba(69, 88, 157, 0.07);
    --bg-gr-prime: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
}
.hiw__row {
    display: flex;
    overflow-x: auto;
    counter-reset: number;
    margin-top: 10%;
    
}
.hiw__card {
    width: 17.5%;
    flex-shrink: 0;
    margin-left: 7%;
}
.hiw__card::before {
        counter-increment: number;
        content: "0" counter(number);
        width: 20%;
        height: 20%;
        font-weight: 400;
        font-size: 30px;
        color: var(--txt-blur);
        background: #fff;
        border-radius: 40%;
    
}
.hiw__card::before{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hiw__card-title {
    font-weight: 700;
    font-size: 22px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Arial;
    }

.hiw__card-desc {
    font-weight: 400;
    font-size: 15px;
    color: rgba(255,255,255,.65);
    font-family: Arial;
    width: 85%;
}
.whats{
    color: white;
}
.hiw__card::after {
    content: url(arrow.svg);
    opacity: .7;
    display: flex;
    margin-bottom: 10%;
}
.hiw__card:nth-child(even)::after {
    margin-top: 5%;
    transform: scale(1,-1);
    
}
.arrow::after{
    display: block;
    margin-top: -75%;
    margin-left: 40%;
}
.comments__row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: calc(var(--gutter)*-1);
    margin-right: calc(var(--gutter)*-1);
}
.com{
    margin-top: 5%;
}
.cl{
    margin-bottom: 2%;
}
.scroll{
    display: flex;
    margin-left: 47%;
}
.but{
    width: 45px;
    height: 20px;
    display: inline-flex;
    margin-bottom: 10%;
}
.left{
    background-image: url(but1.png);
    background-repeat: no-repeat;
    border-color: transparent;
    background-color: #fff;
}
.right{
    background-image: url(but2.png);
    background-repeat: no-repeat;
    border-color: transparent;
    background-color: #fff;
}
.comments__row {
    overflow: hidden;
  }
  .comments_card {
    transition: transform 0.5s ease;
  }
  .mobile {
    display: flex;
    flex-wrap: nowrap;
}
.mobile__content {
    width: 28%;
    margin-left: 60%;
    margin-top: -40%;
}
.mobile__desc {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: Arial;
}
.mobile__bg-block {
    background: linear-gradient(287.67deg, rgba(255, 253, 230, 0.35) -3.53%, rgba(255, 253, 230, 0.07) -3.52%, rgba(224, 239, 250, 0.35) 92.55%);
    border-radius: 250px 0px 0px 0px;
    width: 1200px;
    height: 700px;
    margin-left: 11%;

}
.mobile__app-img {
    width: 50%;
    max-width: 800px;
}
.secure{
    text-align: left;
}
.learn{
    justify-content:center;
    align-items: center;
    margin-left: 0%;
}
.learn:hover{
    background-color: white;
    color: var(--txt-blur);
    border: 2px solid;
    border-color: var(--txt-blur);
}
.two:hover{
    background-color: white;
    color: var(--txt-blur);
    border: 2px solid;
    border-color: var(--txt-blur);
}
.white:hover{
    background-color: transparent;
}
.get:hover{
    background: #fff;
    color: var(--txt-blur);
}
.pricing {
    margin-top: 17%;   
    background-image: url(pattern.svg),var(--bg-gr-prime);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.pricing__row {
    justify-content: center;
    margin-top: 3%;
}
.what{
    padding-top: 5%;
    color: white;
}
.pricings__card {
    box-sizing: border-box;
    margin-left: 5%;
    width: 28%;
    
}
.pricing-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--bg-blue-secondary);
    color: #fff;
    padding: 70px 40px 50px;
    border-radius: 10px;
    transition: transform .3s;
    margin-bottom: 3%;
    width: 28%;

}
.pricing-card__title {
    font-weight: 700;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 7px;
    font-family: Arial;
}
.pricing-card__subtitle {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 60px;
    font-family: Arial;
}
.pricing-card__features {
    padding: 0;
    list-style-type: none;
    max-width: 320px;
    margin: 0 0 70px;
    display: block;
}
.pricing-card__feature-item {
    font-size: 16px;
    margin-bottom: 7%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}
.pricing-card__feature-item::before {
    content: url(ico.svg);
    display: block;
    margin-right: 5%;

}
.pricing-card__feature-item_unchecked::before {
    content: url(clouse.svg);
}
.pricing-card__get {
    margin-top: auto;
    align-self: center;
}
.fill {
    background-color: #fff;
    color: var(--txt-black);
}
.fill:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}
.now:hover{
    background-color: transparent;
    border-color: var(--txt-blur);
    color: var(--txt-blur);
}
.pricing-card_prime {
    background: #fff;
    color: var(--txt-black-secondary);
}
.pricing-card__badge {
display: block;
    margin-top: -10%;
    padding: 3px 8px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    background: #ef9e48;
}
.pricing-card__price {
    display: block;
    margin-top: 20px;
    margin-left: 70%;
    text-align: right;
}
.pricing-card:hover {
    transform: translateY(-10px) scale(1.02);
}
.prem{
    margin-top: -8px;
}
.premium{
    margin-top: -50px;
}
.pricing-card__price-val {
    font-weight: 700;
    font-size: 26px;
    color: #25cb9e;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
}
.pricing-card__price-txt {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial;
}
.FAQ {
    padding-top: 130px;
    padding-bottom: 140px;
}
.FAQ__accordeon {
    box-sizing: border-box;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}
.FAQ__accordeon-item {
    padding-left: 10%;
    border-bottom: 3px solid var(--grey);
}
.FAQ__accordeon-head {
    font-weight: 500;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    user-select: none;
    font-family: Arial;
} 
.FAQ__accordeon-head::before {
    display: inline-flex;
    content: url(icco.svg);
    transform: translateX(-100%);
    transition: transform .3s;
    
}
.FAQ__accordeon-item.active .FAQ__accordeon-head::before {
    transform: translateX(-100%) rotate(45deg);
}
.accordeon__body {
    overflow: hidden;
    height: 0;
    transition: .3s;
}
footer {
    display: block;
    margin-left: 25%;
    margin-top: 5%;
}
.footer__inner {
    display: flex;
   
    border-top: 3px solid var(--grey);
    padding-top: 5%;
    padding-bottom: 5%;
}
.footer__col, .footer__inner {
    box-sizing: border-box;
    margin-right: var(--gutter);
    margin-left: var(--gutter);
}
.footer__col {
    width: calc(100%*.25 - var(--gutter)*2);
    padding-left: 15px;
}
.footer__col-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
    font-family: Arial;
}
.foot{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter)*-1);
    margin-right: calc(var(--gutter)*-1);
}
.footer__menu {
    list-style-type: none;
    margin-left: -70px;
}
.footer__menu .menu-item {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
}
.footer__menu .menu-item>a {
    color: inherit;
    text-decoration: none;
    opacity: .8;
}
@media screen and (max-width: 1440px) {
    .mockup{
        margin-top: -37%;
    }
    .app__info-block{
        margin-left: 10%;
    }
    .container{
        max-width: 100%;
    }
  }
@media (max-width: 1024px){
    .mockup{
        margin-top: -45%;
        width: 50%;
    }
    .wrap{
        padding-left: 10%;
    }
    .video{
        margin-left: 27%;
        margin-top: -4%;
    }
    .text{
        font-size: 40px;
        width: 40%;
    }
    .lorem{
        font-size: 10px;
    }
    .wrap{
        margin-left: -2%;   
    }
    .app__phone-img{
        width: 80%;
        margin-left: 20%;
    }
    .app__info-block{
        margin-left: -4%;
    }
    .app__title{
        font-size: 30px;
        width: 100%;
    }
    .app__row{
        margin-top: -140%;
    }
    .app__plus{
        padding-left: 120px;
        width: 80%;
    }
    .app__plus-desc{
        width: 100%;
    }
    .smart{
        font-size: 30px;
    }
    .hiw__card::before{
        width: 20%;
        height: 15%;
    }
    .hiw__card::after{
        margin-left: 5%;
        margin-top: -130%;
    }
    .hiw__row{
        margin-left: -2%;
    }
    .mobile__bg-block{
        width: 900px;
       margin-top: 5%;
       margin-bottom: 4%;
    }
    .mobile__content{
        margin-top: -65%;
    }
    .pricing-card{
        width: 40%;
    }
    .footer__inner{
        margin-left: -15%;
    }
}  
@media screen and (max-width: 768px){
    .navbar-logo{
        font-size: 18px;
        display: inline-flex;
    }
    img{
        width: 30%;
    }
    .nav{
        font-size: 14px;
    }
    .burger {
        display: flex;
    }
    #menu-wrapper {
        overflow: hidden;
        max-width: 100%;
        cursor: pointer;
    }
    #menu-wrapper #hamburger-menu {
        position: relative;
        width: 25px;
        height: 20px;
        margin: 15px;
    }
    #menu-wrapper #hamburger-menu span {
        opacity: 1;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        color: black;
        background-color: white;
        position: absolute;
        transform: rotate(0deg);
        transition: .4s ease-in-out;
    }
    #menu-wrapper #hamburger-menu span:nth-child(1) {
        top: 0;
    }
    #menu-wrapper #hamburger-menu span:nth-child(2) {
        top: 9px;
    }
    #menu-wrapper #hamburger-menu span:nth-child(3) {
        top: 18px;
    }
    #menu-wrapper #hamburger-menu.open span:nth-child(1) {
        transform: translateY(9px) rotate(135deg);
    }
    #menu-wrapper #hamburger-menu.open span:nth-child(2) {
        opacity: 0;
        transform: translateX(-60px);
    }
    #menu-wrapper #hamburger-menu.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-135deg);
    }
    .accordion-toggle a:before, .accordion-toggle a:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 30px;
        width: 15px;
        height: 2px;
        margin-top: -1px;
        background-color: #5a5858;
        transform-origin: 50% 50%;
        transition: all 0.3s ease-out;
    }
    .accordion-toggle a:before {
        transform: rotate(-90deg);
        opacity: 1;
        z-index: 2;
    }
    .accordion-toggle.active-tab {
      background: yellowgreen;
      transition: all 0.3s ease;
    }
    .accordion-toggle a.active:before {
        transform: rotate(0deg);
        background: #fff !important;
    }
    .accordion-toggle a.active:after {
        transform: rotate(180deg);
        background: #fff !important;
        opacity: 0;
    }
    .nav{
        display: none;
    }
    .navbar-logo{
        font-size: 25px;
        margin-left: 5%;
        align-items: center;
   }
   nav{
       padding-top: 5%;
       width: 100%;
   }
    #logo{
        width: 17%;
    }
    .get{
        margin-left: -20%;
        width: 150px;
        grid-column-start: 5;
    }
    #menu-wrapper{
        grid-column-start: 6;
    }
    .text{
        font-size: 25px;
    }
    .lorem{
        font-size: 12px;
    }
    #wrap{
        width: 100%;
        height: 270px;
    }
    .video{
        font-size: 14px;
        margin-left: 32%;
        margin-top: -5%;
    }
    .sponser{
        width: 50%;
    }
    .wrap{
      margin-top: 20%;
    }
    .about__card-ico{
        width: 50%;
    }
   .app__phone-img{
       width: 70%;  
   }
   .app__title{
       font-size: 20px;
       width: 50%;
   }
   .app__plus-ico{
       width: 15%;
   }
   .app__plus-desc{
       font-size: 14px;
       width: 70%;
   }
   .app__info-block{
       width: 60%;
       margin-left: -30%;   
   }
   .app__row{
       margin-top: -180%;
   }
   .smart{
       font-size: 20px;
   }
   .txt-content{
       letter-spacing: -1px;
   }
   .companies__info-block{
       margin-left: 30%;
   }
   .companies__img{
       width: 110%;  
   }
   .hiw__card::after{
       display: none;
   }
   .hiw__card::before{
       width: 30%;
       height: 15%;
   }
   .mobile__app-img{
       width: 50%;
        margin-left: -12%;
   }
   .mobile__content{
       margin-top: -90%;
       margin-left: 60%;
   }
   .mobile__bg-block{
       margin-bottom: 5%;
       background: none;
       width: 90%;
   }
    .app{
        margin-top: 170%;
    }
    .app__info-block{
        width: 100%;
        margin-left: 20%;
    }
    .app__img-block{
        margin-left: 10%;
    }
   .app::before{
       content: none;
   }
   .pricing-card{
       width: 60%;
   }
   .pricing-card_prime{
       margin-left: 0;
   }
   .accordeon{
       width: 90%;
       margin-left: 5%;
   }
   .footer__inner{
       margin-left: -32%;
   }
}
@media screen and (min-width: 320px) and (max-width: 426px){
    .video{
        margin-left: 10%;
        margin-top: 2%;
    }   
    .sponser{
        width: 70%;
    }
    .mockup{
        width: 80%;
        margin-top: -15%;
        margin-left: 20%;
    }
    .wrap{
        display: flex;
        flex-direction: column-reverse;
    }
    .text{
        width: 80%;
    }
    #wrap{
        margin-top: 5%;
        margin-left: -10%;
    }
    .about__grid{
        display: flex;
        flex-direction: column;
    }
    .about__card-desc{
        margin-top: -5%;
    }
    .about__card-ico{
        margin-top: 5%;
    }
    .app::before{
        content: none;
    }
    .app__phone-img{
        margin-top: 160%;
        margin-left: 20%;
    }
    .app__info-block{
        margin-left: 10%;
        width: 100%;
        margin-top: -5%;
    }
    .app__plus-desc{
        width: 100%;
    }
    .features__row{
        display: flex;
        flex-direction: column;
        margin-left: -5%;
    }
    .features__card{
        width: 90%;
    }
    .companies__info-block{
        width: 90%;
        margin-left: 5%;
    }
    .companies__row{
        display: flex;
        flex-direction: column;
    }
    .companies__img{
        margin-left: 50%;
    }
    .hiw__row{
        display: flex;
        flex-direction: column;
    }
    .hiw__card{
        width: 90%;
    }
    .hiw__card::before{
        width: 10%;
    }
    .mobile__bg-block{
        background: none;
        width: 90%;
    }
    .mobile__app-img{
        margin-left: -17%;
        margin-top: -1%;
        width: 80%;
    }
    .mobile__content{
        width: 90%;
        margin-left: 10%;
    }
    .pricing-card{
        width: 90%;
    }
    .premium{
        margin-left: -10%;
    }
    .pricing-card__subtitle{
        margin-left: -10%;
    }
    .pricing-card__price-txt{
        font-size: 15px;
    }
    .pricing-card__price-val{
        font-size: 20px;
    }
    .accordeon{
        width: 80%;
        margin-left: 10%;
    }
.navbar-logo{
    font-size: 20px;
}
 .get{
     width: 100%;
     font-size: 12px;
 }
}